$bodyBackground: #ecf7f9;
$mainBackground: #ffffff;
$headerNavListBackground: #e31837;
$headerNavBackground: #cb0d29;
$headerFontColor: #ffffff;
$fontColorMain: #fdfdfd;
$sliderTitle: #000000;
$sliderText: #9b9aac;
$white: #ffffff;
$borderColor: #f2f2f2;
$green: #59B210;
$buttonRed: #cc053e;

// media

$mediaXlWidth: 1920px;
$mediaLWidth: 1280px;
$mediaMWidth: 768px;
$mediaSWidth: 460px;
